.bg-container {
  background-color: #07080c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-size: 40px;
  font-family: Roboto;
  font-style: italic;
  text-align: center;
  color: #ffffff;
}
.speedometer-img {
  height: 300px;
}
.speed-heading {
  font-size: 25px;
  font-family: Roboto;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}
.speed-discription {
  font-size: 18px;
  font-family: Roboto;
  text-align: center;
  color: #cbd5e1;
  font-weight: 300;
  margin-top: 35px;
  margin-bottom: 35px;
}
.btn-container {
  text-align: center;
}
.btn {
  border-width: 0px;
  height: 35px;
  width: 90px;
  border-radius: 5px;
  margin: 20px;
}
.accelerate {
  color: #ffffff;
  background-color: #0b69ff;
}
.apply-brake {
  color: #94a3b8;
  background-color: transparent;
  border: 1px solid #94a3b8;
}
